@import "vars";
%style-shared {
  height: 30px;
  width: 95vw;
  font-size: 1.3em;
  color: white;
  border-radius: 4px;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 40vh;
  font-family: $myText;

  h1 {
    font-size: 1.5em;
    text-decoration: none;
  }
  input {
    @include input;
  }
  button {
    @extend %style-shared;
    background-color: $mainColor;
  }
  .register-wrapper {
    @extend %style-shared;
    background-color: $secondaryColor;
  }
  .input-wrapper {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 900px) {
  h1 {
    display: none;
  }
  button {
    width: 20vw;
  }
}
